@import "./../../Styles/colors";
@import "./../../Styles/border-radius";
@import "./../../Styles/flex";

.filerFormBox {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    padding: 10px 0 10px 0;
    SELECT {
        @include border-radius(10px);
        padding: 10px;
        border: solid 1px $gray-border-color;
        margin: 0 10px 0 0;
        &:hover {
            cursor: pointer;
            background-color: $gray-bg-hover-input-color;
        }
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.blockFiltersElement {
   
}