.filerFormBox {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0 10px 0;
}

.filerFormBox BUTTON {
    border-radius: 10px;
    border: solid 1px #e4e4e4;
}

.filerFormBox BUTTON:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.blockFiltersElement SELECT {
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #e4e4e4;
    margin: 0 10px 0 0;
}

.blockFiltersElement:focus {
    outline: none;
}

.blockFiltersElement:active {
    outline: none;
}