.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 0 10px;
}

A.catBlock {
    color: #851882;
}

.catBlock {
    border-top: 1px solid #dbdbdb;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    width: 120px;
    margin: 0 10px 0 10px;
}

.catBlock IMG {
    width: 90px;
    height: 90px;
    border: 1px;
}

.catBlock SPAN {
    text-align: center;
}

.catBlock:first-child {
    margin-left: 0;
}

.catBlock:last-child {
    margin-right: 0;
}
