@import "./../../Styles/transitions";
@import "./../../Styles/colors";
@import "./../../Styles/shadows";
@import "./../../Styles/flex";

.wrapper {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    @include justify-content-center;
    padding: 0 0 0 10px;
}

A.catBlock {
    color: $black-content-link-color;
}

.catBlock {
    border-top: 1px solid $gray-border-color;
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
    @include justify-content-space-between;
    @include align-item-center;
    padding: 10px;
    color: #000;
    width: 120px;
    margin: 0 10px 0 10px;
    @include transition-block(all, .3s, linear);
    &:hover {
        background-color: $gray-bg-hover-child-cat-block-color;
        color: $blue-content-link-color;
    }
    IMG {
        width: 90px;
        height: 90px;
        border: 1px;
    }
    SPAN {
        text-align: center;
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}
