.NavBox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 30px;
    padding: 10px;
}

.NavBox A:hover {
    color: #06cd01;
}

/* .navBar:last-child {
    color: #9a9a9a;
    pointer-events: none;
    cursor: default;
    margin: 0;
    padding:0;
} */

