@import './../Styles/colors';
@import './../Styles/media';

.NavBox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 30px;
    padding: 10px;
    @include _600 {
        padding: 0;
        z-index: 7;
    }
}

.NavBox A:hover {
    color: $green-link-color;
}

/* .navBar:last-child {
    color: #9a9a9a;
    pointer-events: none;
    cursor: default;
    margin: 0;
    padding:0;
} */

