@import "./../Styles/_shadows.scss";
@import "./../Styles/_border-radius.scss";
@import "./../Styles/_flex.scss";

.popular {
    @include box-shadow(0, 0, 5px, 0px, rgba(0, 0, 0, 0.2));
    @include border-radius(0, 0, 4px, 4px);
    background-color: #FFF;
    margin: 20px auto 0;
    padding: 20px;
    max-width: 1200px;
    H1 {
        font-size: 20pt;
        padding:0;
        text-align: center;
    }
}

.productsLits {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    @include justify-content-space-between;
    @include align-item-stretch;
}

