@import "./../Styles/_shadows.scss";
@import "./../Styles/_border-radius.scss";
@import "./../Styles/_flex.scss";
@import './../Styles/colors';
@import './../Styles/media';

.wrapper {
    margin: 0 auto;
    width: 1220px;

}

.contentBox {
    float: left;
    margin: 0 20px 0 0;
    width: 950px;
}

.rightSide {
    width: 250px;
    float: right;
    background-color: $block-color;
    @include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, .1));
    @include border-radius(5px);
    A {
        &:link { text-decoration: none; color: #000 }
        &:visited { text-decoration: none; color: #000 } 
        &:hover { text-decoration: none; color: #000 }
        &:active { text-decoration: none; color: #000 }
      }
    UL {
        padding: 0;
        margin: 0;
        LI {
            &:first-child {
                @include border-radius(5px, 5px, 0, 0)
            }
        }
    }
}