.popular {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    background-color: #FFF;
    margin: 20px auto 0;
    padding: 20px;
    max-width: 1200px;
}

.popular H1 {
    font-size: 20pt;
    padding:0;
    text-align: center;
}

.productsLits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.productsLits :last-child {
    
}

