@import "./../../Styles/_shadows.scss";
@import "./../../Styles/_border-radius.scss";
@import "./../../Styles/_flex.scss";
@import './../../Styles/colors';
@import './../../Styles/media';

.popular {
    border-top: solid 1px $gray-border-color;
    padding: 0;
    width: 750px; 
    @include _1170 {
        padding: 0 0 0 20px;
        width: 810px;
    }   
    H1 {
        font-size: 20pt;
        padding: 0 0 0 20px;
        text-align: left;
    }
}

.productsLits {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    @include justify-content-start;
    padding: 10px;
    @include box-shadow(0, 0, 3px, 1px, rgba(0, 0, 0, 0.1));
    @include border-radius(0, 0, 4px, 4px);
    background-color: #FFF;
}

