.popular {
    
}

.popular H1 {
    font-size: 20pt;
    padding:0;
    text-align: center;
}

.productsLits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
