@import './../Styles/box';
@import './../Styles/flex';
@import './../Styles/transitions';

@mixin arrows {
    padding: 15px 20px 15px 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    top: 50%;
    @include border-radius(50%);
    @include transition-block(all, .1s, linear);
    z-index: 6;
    background-color: #FFF;
    &:hover {
        background-color: #ffc62d;
    }
}

.currentChange {
    @include flex;
    @include flex-direction-row;
    @include flex-nowrap;
    .activeBTN {
        border: #000;
    }
    DIV {
        background-color: red;
        width: 8px;
        height: 8px;
        border: solid 1px #FFF;
    }
}

.wrapper {
    position: relative;
    @include box;
    height: 220px;
    margin: 0 0 0 20px;
    width: 680px;
    overflow: hidden;
    padding: 0;
    float: left;
    .bon {
        width: 680px;
    }
    A {
        width: 680px;
        height: 220px;
        padding: 0;
        margin: 0;
        display: block;
    }
    IMG {
        width: 680px;
        height: 220px;
        margin: 0;
    }
    .arrow-prev {   
        @include arrows;
        left: 0px;
    }
    
    .arrow-next {
        @include arrows;
        right: 0px;
    }
    &:hover {
        .arrow-next, .arrow-prev {
            visibility: visible;
            @include box-shadow(0, 0px, 17px, 1px, rgba(0, 0, 0, .1));
        }
        .arrow-next {
            right: 20px;
        }
        .arrow-prev {
            left: 20px;
        }
    }

}