@import './../Styles/transitions';
@import './../Styles/colors';
@import './../Styles/shadows';
@import './../Styles/flex';
@import './../Styles/card-box';

A.card {
    color: $blue-content-link-color;
}


.card {
    display: block;
    background-color: #FFF;
    border: 13px black;
    width: 265px;
    min-height: 280px;
    margin: 20px 20px 0 0;
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
    @include justify-content-space-between;
    @include align-item-center;
    @include card-box();
    @include transition-block(all, .1s, linear);
    &:hover {
        @include box-shadow(0 ,5px, 6px, 1px, rgba(0, 0, 0, .1));
        color: $blue-content-link-color;
    }
    IMG {
        width: 230px;
        height: 230px;
    }
    P {
        text-align: center;
        
    }
}

.card._additionalClass {
    @include transition-block(all, .1s, linear);
    height: 120px;
    min-height: 120px;
    width: 300px;
    min-width: 300px;
    box-shadow: none;
    @include flex-direction-row;
    @include flex-nowrap;
    margin: 0;
    &:hover {
        P {
            color: $blue-content-link-color;
        }
    }
    IMG {
        width: 130px;
        height: 130px;
    }
    P {
        text-align: left;
        padding: 0 0 0 10px;
        width: 100%;
        @include flex-wrap;
        @include flex-direction-column;
    }
    SPAN {
        display: block;
        padding: 5px 0 0 0;
    }

}