.wrapper {
    width: 1200px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}

.wrapperTopBox {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
    margin: 10px 0 0 0;
    width: 100%;
    background-color: #FFF;
}

.fullImage {
    position: fixed;
    background-image: url('./../../img/opacityBlack.png');
    z-index: 5;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.imgWrapper {
    text-align: center;
    padding: 10px 0 20px 0px;
    position: relative;

}

.imgWrapper BUTTON {
    display: block;
    width: 100%;
}

.fullImage IMG {
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    border: solid 10px #FFF;
}

.leftBox {
    width: 300px;
    padding: 10px 4px 10px 10px;
}

.leftBox IMG {
    width: 294px;
    height: 294px;
    transition: box-shadow 0.1s linear;
    transition: opacity 2s linear;
    border: #FFF solid 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    transition: box-shadow 0.1s linear;
    cursor: pointer;
}

.leftBox IMG:hover {
    box-shadow: 0 7px 9px rgba(0, 0, 0, .5);
}

.changePhoto {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    padding: 0;
    border-right: solid 1px black;
}

.changePhoto IMG {
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    transition: box-shadow 0.1s linear;
    border: #FFF solid 2px;
}

.changePhoto IMG:hover {
    cursor: pointer;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .4);
}

.infoWrapper {
    flex-grow: 1;
    padding: 10px 10px 10px 20px;
    flex-flow: wrap row;
}

.infoWrapper H2 {
    margin: 0;
}

.descriptionBox {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 4px 4px 4px 4px;
    margin: 10px 0 0 0;
    padding: 0;
    
}

.leftDescriptionBox {
    flex-grow: 1;
    padding: 0 20px 0 0;
}

.survey {
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    width: 200px;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}

.survey P {
    font-weight: bold;
}

.survey BUTTON {
    background: none;
    margin: 15px 0 5px 0;
    border: solid 1px #e8e8e8;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.navProductBox {
    display: flex;
    flex-flow: row nowrap;
    background: #FFF;
    padding: 20px;
    margin: 0;
    border-radius: 4px 4px 4px 4px;
}

.navProductBox H2 {
    margin:0 0 20px 0;
    padding: 0;
}

.descriptionMenu {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    color: #000;
}

.tabButton {
    min-width: 100px;
    color: #000;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-left: solid 1px #e8e8e8;
}

.tabButton:last-child {
    border-right: solid 1px #e8e8e8;
}

.tabButton:first-child {
    border-left: none;
}

.tabButton:hover {
    background-color: #efefef;
}

A.tabButton {
    color: #000;
}

.active {
    color: #000;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border-top: solid 4px;
}

.active:hover {
    background-color: #FFF;
}

A.active {
    color: #000;
}

.bugReport {
    padding: 20px;
    color: #000;
    background-color: #ffe4df;
}

.bugReport A {
    color: #6a72ff;
}

.specificationString {
    padding: 10px;
    border-top: solid 1px #e8e8e8;
}

.specificationString:last-child {
    border-bottom: solid 1px #e8e8e8;
}