.wrapper {
    width: 1200px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}

.wrapperTopBox {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
    margin: 10px 0 0 0;
    width: 100%;
}

.leftBox {
    width: 300px;
    padding: 10px 0 10px 10px;
}

.leftBox IMG {
    width: 300px;
    height: 300px;
}

.changePhoto {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    padding: 0;
    border-right: solid 1px black;
}

.changePhoto IMG {
    width: 50px;
    height: 50px;
}

.infoWrapper {
    flex-grow: 1;
    padding: 10px 10px 10px 20px;
    flex-flow: wrap row;
}

.infoWrapper H2 {
    margin: 0;
}

.descriptionBox {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    margin: 10px 0 0 0;
    
}

.descriptionMenu {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    background-color: #e4e4e4;
    color: #000;
}

.tabButton {
    min-width: 100px;
    color: #000;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-right: solid 1px black;
    background-color:  red;
}

.active {
    background-color: #FFF;
    color: #000;
}

.descriptionBox {
    padding: 20px;
}