@import "./../Styles/colors";
@import "./../Styles/shadows";
@import "./../Styles/transitions";
@import "./../Styles/border-radius";
@import "./../Styles/flex";

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.wrapperTopBox {
    @include flex;
    @include flex-direction-row;
    @include box-shadow(0, 0, 5px, 0px, rgba(0, 0, 0, 0.2));
    @include border-radius($border-radius-big-block);
    margin: 10px 0 0 0;
    width: 100%;
    background-color: $white-bg-block-color;
}

.fullImage {
    position: fixed;
    background-image: url('./../../img/opacityBlack.png');
    z-index: 5;
    top:0;
    bottom:0;
    left:0;
    right:0;
    IMG {
        max-width: calc(100vw - 100px);
        max-height: calc(100vh - 100px);
        border: solid 10px #FFF;
    }
}

.imgWrapper {
    text-align: center;
    padding: 10px 0 20px 0px;
    position: relative;
    BUTTON {
        display: block;
        width: 100%;
    }
}

.leftBox {
    width: 300px;
    padding: 10px 4px 10px 10px;
    IMG {
        width: 294px;
        height: 294px;
        border: $white-border-img-color solid 6px;
        @include box-shadow(0, 2px, 5px, 0px, rgba(0, 0, 0, 0.2));
        @include transition-block(all, .2s, linear);
        cursor: zoom-in;
        &:hover {
            @include box-shadow(0, 3px, 5px, 0px, rgba(0, 0, 0, 0.6));
        }
    }
}

.reviewWrapper {
    @include flex;
    @include flex-direction-row;
    @include flex-nowrap;
    border-top: solid 1px $gray-border-color;
    padding: 20px;
}

.answerBox {
    @include flex;
    @include flex-direction-row;
    @include flex-nowrap;
    margin: 10px 0 10px 50px;
}

.avatar {
    width: 50px;
    height: 50px;
    display: block;
    @include border-radius(25px);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px 0 0 0;
}

.answerAvatar {
    width: 30px;
    height: 20px;
    display: block;
    @include border-radius(15px);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px 0 0 0;
}

.answer {
   @include flex-grow(1);
   margin: 0 0 0 10px;
    SPAN {
        display: block;
        padding: 5px;
        }
}

.linkName {
    padding: 5px;
}

.review {
    padding: 0 0 0 20px;
    @include flex-grow(1);
    DIV {
        padding: 5px 0 5px 0
    }
    P {
        margin: 0;
        display: inline;
        font-weight: bold;
    }
    A {
        color: $blue-content-link-color;
    }
}

.likes {
    float: right;
}

.changePhoto {
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
    @include justify-content-space-around;
    @include align-item-center;
    width: 80px;
    padding: 0;
    border-right: solid 1px black;
    IMG {
        width: 50px;
        height: 50px;
        @include box-shadow(0, 1px, 3px, 0px, rgba(0, 0, 0, 0.2));
        @include transition-block(all, .2s, linear);
        border: $white-border-img-color solid 2px;
        &:hover {
            cursor: pointer;
            @include box-shadow(0, 3px, 4px, 0px, rgba(0, 0, 0, 0.4));
        }
    }
}

.infoWrapper {
    flex-grow: 1;
    padding: 10px 10px 10px 20px;
    flex-flow: wrap row;
    H2 {
        margin: 0;
    }
}

.descriptionBox {
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
    @include box-shadow(0, 0, 5px, 0px, rgba(0, 0, 0, 0.2));
    @include border-radius($border-radius-big-block);
    margin: 10px 0 0 0;
    padding: 0;
    
}

.leftDescriptionBox {
    flex-grow: 1;
    padding: 0 20px 0 0;
}

.survey {
    @include border-radius(5px);
    border: solid 1px $gray-border-color;
    width: 200px;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    P {
        font-weight: bold;
    }
    BUTTON {
        background: none;
        margin: 15px 0 5px 0;
        border: solid 1px $gray-border-color;
        @include border-radius(10px);
        padding: 10px 20px 10px 20px;
    }
}

.navProductBox {
    @include flex;
    @include flex-direction-row;
    @include flex-nowrap;
    background: $white-bg-block-color;
    padding: 20px;
    margin: 0;
    @include border-radius(4px);
    H2 {
        margin:0 0 20px 0;
        padding: 0;
    }
}

.descriptionMenu {
    @include flex;
    @include flex-direction-row;
    @include flex-nowrap;
    height: 40px;
    color: #000;
}

.tabButton {
    min-width: 100px;
    color: #000;
    height: 20px;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-left: solid 1px $gray-border-color;
    &:last-child {
        border-right: solid 1px $gray-border-color;
    }
    &:first-child {
        border-left: none;
    }
    &:hover {
        background-color: $gray-bg-hover-button-color;
    }
}

A.tabButton {
    color: #000;
}

.active {
    color: #000;
    background-color: $white-bg-button-color;
    border-top: solid 4px black;
    @include border-radius(4px, 4px, 0, 0);
    &:hover {
        background-color: $white-bg-button-hover-color;
    }
}

A.active {
    color: #000;
}

.bugReport {
    padding: 20px;
    color: #000;
    background-color: #ffe4df;
    A {
        color: $blue-content-link-color;
    }
}

.specificationString {
    padding: 10px;
    border-top: solid 1px $gray-border-color;
    &:last-child {
        border-bottom: solid 1px $gray-border-color;
    }
}