@import "./../../Styles/colors";
@import "./../../Styles/border-radius";
@import "./../../Styles/media";

.headerLink {
    list-style: none;
    padding:  20px;
    position: relative;
    height: 10px;
    @include _979 {
        width: auto;
    }
    &:hover {
        background-color: $green-link-color;
    }
   
}

.menuLink {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 20px 0;
    text-align: center;

}

.activeLink {
    background-color: $green-link-color;
}
