$gray-border-color: #e8e8e8;
$blue-content-link-color: #6a72ff;
$blue-content-link-color-hover: #8288ff;
$black-content-link-color: #000;
$gray-bg-hover-button-color: #efefef;
$gray-bg-hover-child-cat-block-color: #f3f3f3;
$gray-bg-hover-input-color: #fcfcfc;
$white-bg-block-color: #fff;
$white-bg-button-color: #fff;
$white-bg-button-hover-color: #fff;
$white-border-img-color: #fff;
$green-link-color: #06cd01;