$gray-body-bg: #f6f6f6;
$gray-border-color: #e8e8e8;
$blue-content-link-color: #6a72ff;
$blue-content-link-color-hover: #8288ff;
$black-content-link-color: #000;
$gray-bg-button: #eeefed;
$gray-bg-hover-button-color: #efefef;
$gray-bg-hover-child-cat-block-color: #f3f3f3;
$gray-bg-hover-input-color: #fcfcfc;
$gray-placeholder-color: #d7d7d7;
$white-bg-block-color: #fff;
$white-bg-button-color: #fff;
$white-bg-button-hover-color: #fff;
$white-border-img-color: #fff;
$white-color-link: #FFF;
$white-color-link-hover: #FFF;
$green-link-color: #06cd01;