@mixin transition-block($parameter, $time, $value) {
    -webkit-transition: $parameter $time $value;
    -moz-transition: $parameter $time $value;
    -o-transition: $parameter $time $value;
    transition: $parameter $time $value;
}