@import './../Styles/colors';
@import './../Styles/border-radius';
@import './../Styles/shadows';
@import './../Styles/flex';

.names {
    padding: 20px 0 20px 0;
}

.wrapper {
    H2 {
        margin: 20px 10px 5px 10px;
    }
}

.currentOffer {
    background-color: $block-color;
    padding: 20px;
    @include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, .1));
    @include border-radius(5px);
    .catWrapper {
        @include flex;
        @include flex-direction-row;
        @include flex-nowrap;
        overflow-y: hidden;
        overflow-x: hidden; 
    }
    A { margin: 10px;
        padding: 5px;
        &:link { text-decoration: none; color: #000;}
        &:visited { text-decoration: none; color: #000 } 
        &:hover { text-decoration: none; color: #000 }
        &:active { text-decoration: none; color: #000 }
      }
}

.menuLink {
    background-color: red;
}