@import './../Styles/colors';
@import './../Styles/border-radius';
@import './../Styles/shadows';

.activeOffer {
    background-color: red;
}

.currentOffer {
    background-color: $block-color;
    padding: 20px;
    @include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, .1));
    @include border-radius(5px);
    A {

        &:link { text-decoration: none; color: #000 }
        &:visited { text-decoration: none; color: #000 } 
        &:hover { text-decoration: none; color: #000 }
        &:active { text-decoration: none; color: #000 }
      }
}