@import './../Styles/shadows';
@import './../Styles/flex';
@import './../Styles/border-radius';

.itemProduct {
    display: block;
    width: 250px;
    min-height: 350px;
    background-color: #FFF;  
    color: #000;
    border-radius: 5px;
    transition: box-shadow 0.2s linear;
    margin: 20px;
    position: relative;
    z-index: 1;
    &:hover {
        opacity: 1;
        @include box-shadow(0, 5px, 5px, 1px, rgba(0, 0, 0, .2));
    }
    h5 {
        width: auto;
        text-align: left;
        padding: 5px 10px 5px 10px;
        margin: 0;
        font-weight: bold;
        font-size: 14pt;
        align-self: stretch;
    }
}

.wrapper {
    @include box-shadow(0, 2px, 4px, 1px, rgba(0, 0, 0, .3));
    min-height: 350px;
}

.ProductCover {
    width: auto;
    @include border-radius(20px, 20px, 0 0);
    align-items: center;
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
    IMG {
        width: 230px;
        height: 230px;
    }
}

.productInfo {
    display: flex;
    flex-flow: row nowrap;
}

.info {
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
    position: absolute;
    width: 125px;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 10px;
    font-size: 12pt;
    P {
        margin: 0;
    }
}

.star {
    background-image: url('./../../img/star.png');
    background-repeat: no-repeat;
    text-align: center;
    color: #FFF;
    padding-top: 25px;
    width: 68px;
    margin: 0 10px 0 0;
    height: 43px;
    bottom: 5px;
    position: absolute;
    right: 0;
}