@import "./../Styles/_shadows.scss";
@import "./../Styles/_border-radius.scss";
@import "./../Styles/_flex.scss";
@import './../Styles/colors';
@import './../Styles/media';

.popular {
    
    padding: 0;
    width: 950px;
    @include _1170 {
        padding: 0 0 0 20px;
        width: 810px;
    }   
    H2 {
        font-weight: bolder;
        text-align: left;
        margin: 20px 10px 5px 10px;
    }
}

.productsLits {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    @include justify-content-start;
    padding: 10px 10px 10px 25px;
    @include box-shadow(0, 0, 3px, 1px, rgba(0, 0, 0, 0.1));
    @include border-radius(0, 0, 4px, 4px);
    background-color: #FFF;
}

