@import "./../Styles/_flex.scss";
@import './../Styles/colors';
@import './../Styles/media';
@import './../Styles/box';
@import './../Styles/shadows';
@import './../Styles/transitions';

.popular {
    
    padding: 0;
    width: 950px;
    @include _1170 {
        padding: 0 0 0 20px;
        width: 810px;
    }   
    H2 {
        font-weight: bolder;
        text-align: left;
        margin: 20px 10px 5px 10px;
    }
}

.productsLits {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    padding: 10px 0 10px 0;
    A {
        @include transition-block(all, 0.1s, linear)
        margin: 0 0 0 18px;
        @include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, .1));
        &:hover {
            @include box-shadow(0, 3px, 5px, 1px, rgba(0, 0, 0, .2));
        }
        &:first-child {
            margin: 0;
        }
    }

}

