BODY {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

A:link {text-decoration: none;color: white;}
A:visited {text-decoration: none;color: white;} 
A:hover {text-decoration: none;color: white;}
A:active {text-decoration: none;color: white;}

.kingWrapper {
  position: relative;
  width: 100%;

  height: 800px;

  padding: 0;
}

.wrapper {

  display: grid;
  grid-template-areas: "header header"
  "wayLine wayLine"
  "leftSide content"
  "footer footer";
  grid-template-rows: 600px 50px 13fr 100px;
  grid-template-columns: 0 1fr;
  margin: 50px auto 0 auto;
  width: 100%;
  height: 100%;
}

.headerMenu {
  background-color: #ffaa9a;  
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
}

.headerNav {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  float: left;
}

.headerNav A {
  background-color: #bc8d85;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px 0 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) inset, 0 -1px 0 rgba(0,0,0,.05) inset;
}

.headerNav A:hover {
  background-color: #ffc4b9;
  box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 -1px 0 rgba(0,0,0,.05);
}

.headerRightBox {
  float: right;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  align-items: stretch;

  height: 100%;
}

.headerRightBox INPUT {
  display: block;
  margin: 0;
  border: none;
  border-radius: 5px;
  resize: none;
  float: left;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) inset, 0 -1px 0 rgba(0,0,0,.05) inset;
}

.headerRightBox INPUT:hover {  /* при наведении курсора мышки */
  box-shadow: 0 0 0 2px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset;
}
.headerRightBox INPUT:focus {  /* при фокусе, когда поле input активно */
  outline: none;
  box-shadow: 0 0 0 1px #7eb4ea inset, 0 1px 2px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
  transition: .2s linear;
}
.headerRightBox INPUT::-moz-placeholder {
  color: #999999;
}
.headerRightBox INPUT::-webkit-placeholder {
  color: #999999;
}
.headerRightBox INPUT::placeholder {
  color: #999999;
}

.headerRightBox BUTTON {
  border-radius: 5px;
  display: block;
  border: none;
  width: 40px;
  margin: 0 0 0 5px;
}

.header {
  background-color: #d4ff9a;
  grid-area: header;
}

.wayLine {
  grid-area: wayLine;
  height: 50px;
  color: #FFF;
  background-color: #1e1e1e;
}

.leftSide {
  background-color: bisque;
  grid-area: leftSide;
}

.content {
  background-color: #f6f6f6;
  grid-area: content;
  display: flex;
  flex-flow: column wrap;
  padding: 0 0 20px 0;
  justify-content: start;
}

.popular {
  
}

.popular H1 {
  font-size: 20pt;
  padding:0;
  text-align: center;
}

.productsLits {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.itemProduct {
  display: block;
  width: 200px;
  height: 250px;
  background-color: #a1402e;  
  border-radius: 20px;
  transition: background-color 0.2s linear;
}

.itemProduct:hover {
  opacity: 1;
  background-color: #c14d37;
}



.roductCover {
  width: auto;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.itemProduct SPAN {
  display: block;
  height: 20px;
  width: auto;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  font-size: 12pt;
}

.footer {
  background-color: #222;
  grid-area: footer;
  text-align: center;
}

.footer H3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
  font-size: 46pt;
  margin: 10px 0 0 0;
  padding: 0;
}