@import "./../Styles/colors";
@import "./../Styles/shadows";
@import "./../Styles/border-radius";
@import "./../Styles/flex";

.wrapper {
    margin: 0 auto;
    width: 1160px;
    @include border-radius(4px);
    padding: 0 0 0 20px;    
}

.productsLits {
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    @include justify-content-start;
}

.topBoxWrapper {
    @include flex;
    @include flex-direction-column;
    @include flex-wrap;
}

.cover {
    text-align: center;
}

.nameBox {
    width: auto;
    text-align: center;
    P {
    margin: 0 0 15px 0;
    padding: 0;
    .nameBox {
    
    padding: 10px;
}

    }
    IMG {
        width: 230px;
        height: 230px;
    }
    H1 {
        margin: 0;
        text-align: left;
        padding: 0 0 0 20px;
    }
}

.filters  {
    text-align: center;
}

.filtersBox {
    @include flex-grow(1);
    @include flex;
    @include flex-direction-row;
    @include flex-wrap;
    @include box-shadow(0, 3px, 5px, -1px, rgba(0, 0, 0, .1));
    background-color: #FFF;
    margin: 20px 20px 0 20px;
    padding: 0 20px 0 20px;
    border-top: solid 1px $gray-border-color;
    border-bottom: solid 1px $gray-border-color;
    SELECT {
        outline: none;
        &:active {
            outline: none;
        }
    }
    H1 {
        margin: 0;
    }
    
}
