.wrapper {
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    padding: 20px;
}

.productsLits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

